@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* width */
::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #2b2b2b;
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

html {
	height: 100%;
	width: 100%;
}

body {
	margin: 0;
	height: 100vh;
	width: 100%;
	background-color: #181a1b;
	overflow: hidden;
	background-size: cover;
	background-position: center;
	color: white;
	font-family: 'Poppins', sans-serif;
	background-repeat: no-repeat;
}

nav {
	bottom: 0;
	position: fixed;
	width: calc(100%);
	background-color: #2a2b2c8c;
	color: white;
	backdrop-filter: blur(7px);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	z-index: 99;
	user-select: none;
}

nav [navobj] {
	padding: 1px;
	margin: 3px;
	border-radius: 5px;
	background-color: #c4c4c429;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

nav [navobj] div {
	display: inline-block;
	margin: 5px 7px;
	text-align: center;
	font-size: 11px;
}

nav info {
	align-self: flex-end;
}

#battery-display {
	transform: rotate(90deg) scale(0.8) translateX(-8px);
}

#battery-p-display {
	transform: translate(0px, 11px);
	display: block;
	height: 0px;
	color: white;
}

#date-display {
	font-size: 9px;
	line-height: 10px;
	display: block;
}

[navobj] [app-shortcut] {
	background-color: transparent;
	cursor: pointer;
	animation: appop 0.3s;
	transition: .2s;
}

[navobj] [app-shortcut]:hover {
	transform: scale(1.1);
}

.mmic {
	width: 10px;
	height: 23px;
}

.window {
	min-width: 400px;
	position: absolute;
	min-height: 200px;
	background-color: transparent;
	border-radius: 5px;
	display: inline-block;
	color: white;
	font-size: 0.8rem;
	padding: 0px;
	overflow: hidden;
	box-shadow: -1px 2px 12px 2px #000000a6;
	resize: both;
	animation: appshow 0.3s 1;
}

@keyframes appshow {
	0% {
		transform: translateY(0px) scale(0.5);
		filter: blur(10px);
		opacity: 0%;
	}

	100% {
		transform: translateY(0px) scale(1);
		filter: blur(0px);
		opacity: 100%;
	}
}

.windowheader {
	background-color: #121212;
	background: radial-gradient(at center top, #252525 20%, #121212 23%);
	backdrop-filter: blur(5px) brightness(0.5);
	padding: 3px 5px;
	cursor: grab;
}

.windowheader:active {
	cursor: grabbing;
}

.windowcontent {
	box-sizing: border-box;
	height: calc(100% - 11px);
}

.windowcontent iframe {
	border: none;
	width: 100%;
	height: calc(100% - 15px);
}

.wincl {
	font-size: 15px !important;
	float: right;
	box-shadow: 0px 4px 6px 0px #0000003b inset;
	border-radius: 3px;
	color: white;
	margin: 2px;
	transform: translate(2px, -2px);
	cursor: pointer;
	padding: 1px;
}

.app-shortcut {
	background-color: transparent;
	border-radius: 5px;
	padding: 10px;
	margin: 5px;
	cursor: pointer;
	width: 40px;
	display: inline-block;
	overflow: hidden;
	border: 1px solid transparent;
	transition: .2s;
	text-align: center;
}

@keyframes appop {
	0% {
		opacity: 0;
		transform: scale(0.7);
	}

	35% {
		opacity: 0.4;
		transform: scale(1.1);
	}

	100% {
		opacity: 1;
	}
}

.app-shortcut:hover {
	border: 1px solid grey;
	transform: scale(1.01);
}

.app-shortcut:hover .app-icon {
	transform: scale(1.2);
}


.app-shortcut:active {
	cursor: grabbing;
}

.app-shortcut .app-icon {
	color: #ffffff;
	text-shadow: 0px 0px 10px #378497;
	display: block;
	transition: 0.5s;
}

.app-shortcut .appname {
	margin-top: 13px;
	color: white;
	display: block;
	border-radius: 10px;
	font-size: 11px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	text-align: center;
	padding: 1px 5px;
	background: #1f1f1fa1;
}

#installer {
	border-radius: 10px;
	border: 0;
	padding: 10px;
	width: 80%;
	background: transparent;
	backdrop-filter: blur(7px) brightness(0.2);
	box-shadow: rgba(50, 50, 93, 0.25) 0px 0px 11px 5px inset, rgba(0, 0, 0, 0.3) 0px 4px 12px -1px;
	color: white;
}

#installer span {
	width: 50px;
	height: 50px;
	font-size: 27px;
	margin-left: 7px;
	display: inline-grid;
	border-radius: 6px;
	background-color: #162a3b;
	align-items: center;
	text-align: center;
}

#installer h1 {
	display: inline-block;
	width: calc(100% - 144px);
	margin: 10px;
}

#installer small {
	display: block;
	margin: 8px;
	margin-top: 2px;
	opacity: 0.7;
	font-size: 12px;
}

#installer [appinfos] {
	padding: 5px;
	background: #0e0e0e;
	border-radius: 7px;
}

#installer button {
	display: block;
	width: 100%;
	border-radius: 25px;
	padding: 5px;
	background: linear-gradient(1deg, #3d884c, #32a046);
	color: white;
	border: none;
	margin-top: 10px;
	cursor: pointer;
	font-family: poppins;
}

#appdmod {
	width: 50%;
	border-radius: 10px;
	padding: 5px;
	border: 1px solid #8a8a8a;
	text-align: center;
	max-height: 70%;
	transition: 0.2s;
	margin-bottom: 50px;
	background: #a3a3a373;
	overflow: hidden;
	color: white;
	backdrop-filter: brightness(0.3) blur(6px);
	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
	animation: dmodthingy 0.2s;
	outline: none;
}

@keyframes dmodthingy {
	0% {
		transform: translateY(50px);
		opacity: 0;
	}

	100% {
		transform: none;
		opacity: 1;
	}
}

.transp2 {
	transition: .2s;
}

.modal {
	padding: 24px 47px;
	padding-top: 0;
	border: 0;
	border-radius: 10px;
	backdrop-filter: brightness(0.3) blur(5px);
	color: white;
	background: transparent;
	text-align: center;
	width: 70%;
	max-height: 80%;
}

.modal button {
	padding: 8px 18px;
	background: #434343;
	color: white;
	flex-grow: 1;
	border: none;
	border-radius: 7px;
	margin: 10px 4px;
}

#startup {
	background-color: #1f1f1f;
	color: white;
	width: 100%;
	height: 100%;
	border: 0;
	padding: calc(1rem + 6px);
	border-radius: 0;
}

#startup .content {
	display: grid;
	align-items: center;
	width: 100%;
	height: 100%;
	justify-content: center;
	justify-items: center;
	align-content: center;
}


.custom-loader2 {
	width: 100px;
	height: 100px;
	--c: radial-gradient(farthest-side, #b1d5fb 92%, #0000);
	background: var(--c) 50% 0, var(--c) 50% 100%, var(--c) 100% 50%, var(--c) 0 50%;
	background-size: 24px 24px;
	background-repeat: no-repeat;
	margin-bottom: 20px;
	animation: s7 1s infinite, s3 .5s;
}

@keyframes s7 {
	to {
		transform: rotate(.5turn)
	}
}

@keyframes s3 {
	from {
		filter: blur(5px);
	}

	to {
		filter: blur(0px);
	}
}

.fade-out {
	opacity: 0;
	transition: opacity 0.5s ease;
	/* Adjust timing as needed */
}

#strtsear {
	width: calc(100% - 30px);
	display: block;
	margin: auto;
	margin-bottom: 10px;
	border-radius: 7px;
	padding: 5px 7px;
	background: #3b3b3b;
	color: white;
	border: 1px solid #1f1f1f;
	font-family: 'Poppins';
	outline: none;
}

.strtappsugs {
	position: absolute;
	bottom: 51px;
	background: #1f1f1f;
	padding: 10px;
	border-radius: 7px;
	width: calc(100% - 46px);
	margin-left: 8px;

	animation: pop .2s;
	max-height: 50%;
	overflow-y: scroll;
	visibility: hidden;
}

.strtappsugs div {
	text-align: left;
}

.strtappsugs div span {
	font-size: 15px;
	right: 7px;
	position: absolute;
	background: #2f2f2f;
	cursor: pointer;
	border-radius: 50%;
	padding: 2px;
}

.strtappsugs div span:hover {
	transform: scale(1.1);
}

@keyframes pop {
	from {
		opacity: 0;
		transform: scale(0.9);
	}

	to {
		opacity: 1;
		transform: none;
	}
}

.deskloadspan {
	margin: auto;
	display: block;
	width: fit-content;
	width: -moz-fit-content;
	margin-top: calc(50vh - 26px);
	opacity: 0.5;
	font-size: 10px;
}